* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 900px;
  height: 100px;
}

.wordline,
.inputline {
  padding: 5px; 
  font: 500 1.2em 'Ubuntu Mono';
  color: #3d3d3d;
  display: inline-block;
}

.inputline {
  outline: none;
  border: none;
  border-bottom: 2px solid #3d3d3d;
}

.inputline.wrong {
  background: yellow;
  color: black;
}

.wordline span {
  color: #aaa;
}

span.untyped {
  color: #3d3d3d;
}
span.untyped.wrong {
  color: red !important;
}

/************
* topbar
*************/
.topbar {
  width: 50vw;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.error-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 300 15px 'Ubuntu Mono';
  color: #3d3d3d;
}

.error-stats span {
  padding: 0 2px;
}
.error-stats span:first-of-type {
  color: #000;
  font-weight: bold;
}