* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#github {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 250px;
  background: #3d3d3d;
  color: #fff;
  font: bold 15px 'Ubuntu Mono';
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transform: translate(-25%, 100%) rotate(-45deg);
  transition: all .2s;
}

#github:hover {
  background: #2d2d2d;
  
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 1000px;
  height: 100px;
}

.wordline,
.inputline {
  padding: 5px; 
  font: 500 1.2em 'Ubuntu Mono';
  color: #3d3d3d;
  display: inline-block;
}

.inputline {
  outline: none;
  border: none;
  border-bottom: 2px solid #3d3d3d;
}

.inputline.wrong {
  background: yellow;
  color: black;
}

.wordline span {
  color: #aaa;
}

span.untyped {
  color: #3d3d3d;
}
span.untyped.wrong {
  color: red !important;
}

/************
* topbar
*************/
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.error-stats,
.speed-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 300 15px 'Ubuntu Mono';
  color: #3d3d3d;
}

.error-stats span,
.speed-stats span {
  position: relative;
  padding: 0 2px;
  cursor: pointer;
}
.error-stats span:first-of-type,
.speed-stats span:first-of-type {
  color: #000;
  font-weight: bold;
}

.error-stats:hover .stats-hint,
.speed-stats:hover .stats-hint {
  opacity: .8;
  transform: translateY(-140%);
}

.error-stats span:first-of-type i,
.speed-stats span:first-of-type i {
  font-size: 20px;
  margin: 0 5px;
}

.stats-hint {
  display: flex;
  padding: 5px 7px;
  position: absolute;
  top: 0;
  background: #000;
  opacity: 0;
  color: #fff;
  transform: translateY(-165%);
  white-space: nowrap;
  transition: all .2s;
  pointer-events: none;
  border-radius: 3px;
}

.placeholder {
  color: #aaa;
}

/************
* mode select
*************/
.mode-select {
  font: normal 15px 'Ubuntu Mono';
  position: relative;
  cursor: pointer;
}

.mode-select i {
  font-size: 20px;
}

.mode-select.open .mode-dropdown {
  opacity: 1;
  pointer-events: auto;
}

.mode-dropdown {
  position: absolute;
  bottom: 0;
  transform: translateY(115%);
  opacity: 0;
  background: #3d3d3d;
  border-radius: 3px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, .2);
  transition: all .2s;
  color: #fff;
  padding: 10px;
  pointer-events: none;
  min-width: 100%;
}

.mode-dropdown:after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  transform: translateY(-90%);
  border-bottom: 7px solid #3d3d3d;
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.mode-dropdown li {
  margin: 2px 0;
  list-style: none;
}

.mode-dropdown li:hover {
  color: lightgreen;
}

